.main {
	margin:0 auto;
	display:block;
	width:auto;
	text-align:center;
}
#column1 {
	display:inline-block;
	width:auto;
}
#column2 {
	display:inline-block;
	vertical-align:top;
	width:auto;
	
}
.row {
	display:flex;
	align-items:stretch;
	border-collapse:collapse;
	width: auto;
}

.row2 {
	align-self:baseline;
	display:flex;
	border-collapse:collapse;
}
.guide {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	margin-bottom:10px;
	font-weight:bold;
	color:#999;
	font-size:1em;
	position:relative;
	flex:1;
}

td {
	border:1px solid #999;
	min-width: 60px;
	height: 60px;
	text-align:center;
	vertical-align:middle;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size:2.5em;
}
tbody:last-child td {
	 border-bottom:0;
}
td:last-child {
	border-right:0;
}
table {
	border: 2px solid #222;
	border-right: 0;
	border-bottom: 0;
	border-collapse:collapse;
}
.row table:nth-child(3) {
	border-right: 2px solid #222;
}
.buttons {
	width:50%;
	height:80px;
	border: solid 1px #999;
	margin:5px;
	display:flex;
	align-items:center;
}
.buttons .text {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-weight:bold;
	color:#999;
	font-size:1em;
	flex:1;
	text-align:center;
}
#ad {
	display:block;
	width:500px;
	height:80px;
	margin:20px auto;
	background-color:#999;
}
#column2 table {
	border: 2px solid #B6BEC9;
	border-collapse:collapse;
	margin:10px 0 0 10px;
}
#column2 td {
	border:1px solid #B6BEC9;
	min-width: 130px;
	height: 120px;
	text-align:center;
	vertical-align:middle;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size:4em;
	color: #475FFF;
}